/* body */
body {
    width: 1200px;
}
/* header */
header {
    height: 80px;
    line-height: 80px;
}
/* 본문 */
section {
    float: left;
    width: 800px;
    height: 500px;
    background-color: beige;
}
/* aside */
aside {
    float: left;
    width: 400px;
    height: 500px;
    background-color: rgb(126, 132, 175);

}
/* footer */
footer {
    clear: both;
    height: 50px;
}
