

/* 공통 스타일 */
.content {
    position: relative;
    animation: fade_up 1s ease-in-out;
    background: #caa2c4;
    color: white;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 20px;
}

/* 애니메이션 딜레이 추가 */
.content1 { animation-delay: 0s; }
.content2 { animation-delay: 0.5s; }
.content3 { animation-delay: 1s; }

/* fade_up 애니메이션 */
@keyframes fade_up {
    0% { opacity: 0; transform: translateY(100%); }
    to { opacity: 1; transform: translateY(0); }
}




