.content {
    position: relative;
    animation: fade_up 1s forwards;  /* 'forwards' 추가 */
    background-color: #e7d4e4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    max-width: 200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    

    
}

.box1 {
    background-color: #af62be;  /* 첫 번째 박스의 배경색 */
    animation-delay: 0s;  /* 첫 번째 박스는 바로 나타남 */
    
    
}

.box2 {
    background-color: #b57dc9;  /* 두 번째 박스의 배경색 */
    animation-delay: 0.3s; /* 두 번째 박스는 0.3초 후에 나타남 */
}

.box3 {
    background-color: #b79ae2;  /* 세 번째 박스의 배경색 */
    animation-delay: 0.6s; /* 세 번째 박스는 0.6초 후에 나타남 */
}
.box4 {
    background-color: #b89fe0;  /* 세 번째 박스의 배경색 */
    animation-delay: 0.9s; /* 세 번째 박스는 0.6초 후에 나타남 */
}

@keyframes fade_up {
    0% {
        opacity: 0;
<<<<<<< HEAD
        transform: translate(-100%); /*  */
=======
        transform: translate(-100%); /* 아래에서 올라옴 */
>>>>>>> d724c90175c064b5e248a6fc9646cffb9d31704b
    }
    100% {
        opacity: 1;
        transform: translate(0);   /* 원래 위치로 돌아옴 */
    }
}

  